
/*header part*/
header{
background:url(../images/head.jpg);
background-color:#1ABC9C;
position:fixed;
width:100%;
z-index:1;	
color:black;
}



/*logo*/
#logoimg{
	margin-left:90px;
	width:150px;
	height:135px;
	margin-bottom:-50px;
}


/*titlename*/
h1{
	font-size:35px;
	margin-top:-60px;
	font-family: 'Diplomata SC', cursive;
}


/*sign in and sign out button*/
button{ 
	float:right;
	font-size:20px;
	margin-top:-35px;
	padding:5px 15px;
	margin-right:10px;
	border:
}


/*menubar*/
.scrollmenu {
   overflow: hidden;
   background-color:#333;
   margin-left:230px;
   width:940px;
   font-size:20px;
   margin-top:18px; 
   font-family: 'Montaga', serif;
}

.scrollmenu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}

.scrollmenu a:hover {
  display:block;
  background-color: #ddd;
  }

.scrollmenu a.active {
    background-color: #4CAF50;
    color: white;
    }
	
/*end of header*/

/*960 grid*/	
/*body section*/
body{
	background-image:url(../images/bg10.jpg);
	background-repeat:no-repeat;
    background-size:cover;
    background-repeat:repeat-y;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   font-family: 'Mirza', cursive;
   font-size:20px;
   color:white;
   width:100%;
   
   }
   
/*heroic element*/
#heroimg{
	margin-top:170px;
	width:960px;
	padding-bottom:30px;
	}
   
   
/* 3column section*/ 

/*images of each column*/
#i1,#i2,#i3{
	
	padding-top:30px;
	width:270px;
	height:200px;
}


/*grid4 & grid8 section*/
/*grid4 image*/
#g4img{
	width:370px;
	height:320px;
	padding-top:40px;
	
}
.rows{
padding-top:30px;
padding-left:120px;
}

/*grid8 & grid4 section*/
/*grid8 image*/
.second_row{
	padding-top:30px;
}
#g7img{
	width:390px;
	height:380px;
	padding-left:20px;
	padding-top:37px;
	padding-bottom:10px;
}

/*end of960 grid*/


/*footer part*/
.footercontainer
{
background-color:#1ABC9C;
font-family: 'Montaga', serif;
color:black;	
}

/*table*/

table{
	font-size:12px;
	width:960px;
	margin-left:200px;
	margin-right:140px;
}
/*table head*/

h2{
	color:green;
}
td{
    padding: 10px;
}
th{
padding: 10px;
color:red;
font-style:bold;	
}
/*google play icon*/
#gpl{
	width:80px;
}
/*facebook icon*/
#fb{	
width:40px;
}
/*twitter icon*/
#twt{
width:40px;	
}
/*youtube icon*/
#youtube{
width:53px;	
}
